---
layout: base.njk
title: "Colin Banigan | Project: After Effects"
backgroundImage: projects-background.jpg
currentPage: projects
permalink: /projects/after-effects
---

        <header class="projects-background">
            <h1 class="name julius animate-pop-in">Colin Banigan</h1>
            <div class="border-box julius animate-pop-in">
                <center><span class="dev julius">Software Engineer</span></center>
            </div>
        </header>

        <div class="mini-header">
            <h2 class="mini-header-text julius">
                After Effects
            </h2>
            <div class="mini-header-bar"></div>
        </div>

        <center>
            <video controls>
                <source src="/_videos/Demo Reel.mp4" type="video/mp4">
                <source src="/_videos/Demo Reel.webm" type="video/webm">
                <source src="/_videos/Demo Reel.ogv" type="video/ogv">
            </video>
        </center>

        <div class="block-text center-text intro-text">
            Demo Reel of my VIST 284 projects from Spring 2017 at Texas A&amp;M. Includes eight projects that were completed over the course of the semester. No prior After Effects knowledge was known before this course.
        </div>

