---
layout: base.njk
title: "Colin Banigan | Project: Battleship"
backgroundImage: projects-background.jpg
currentPage: projects
permalink: /battleship.html
---

        <header class="projects-background">
            <h1 class="name julius animate-pop-in">Colin Banigan</h1>
            <div class="border-box julius animate-pop-in">
                <center><span class="dev julius">Software Engineer</span></center>
            </div>
        </header>

        <div class="mini-header">
            <h2 class="mini-header-text julius">
                Battleship
            </h2>
            <div class="mini-header-bar"></div>
        </div>

        <div class="flex-box projects block-text">
            <div class="flex-item">
                <center><img class="flex-image" src="/_images/battleship-1.png" alt="" width="320px" height="284px"></center>
            </div>
            <div class="flex-item">
                <center><img class="flex-image" src="/_images/battleship-2.png" alt="" width="320px" height="284px"></center>
            </div>
            <div class="flex-item">
                <center><img class="flex-image" src="/_images/battleship-3.png" alt="" width="320px" height="284px"></center>
            </div>
        </div>

        <div class="block-text center-text intro-text">
            Online multiplayer alternative version of Battleship. The game was completed in a team of four students as a two month long project in CSCE 315: Programming Studio. Unlike standard Battleship rules, our version has both players playing simultaneously while also adding a resource management system. Standard Battleship has no defensive play other than the initial ship placement. As such, the ability for players to move their ships as well as fire at their opponents was added. Overall, I believe that these additions added meaningful decision making between both players.
        </div>

        <center><a href="http://cbanigan-battleship.herokuapp.com/" target="_blank"><div class="fancy-button julius">Play</div></a></center>

