---
layout: base.njk
title: "Colin Banigan | Projects"
backgroundImage: projects-background.jpg
currentPage: projects
permalink: /projects/index
---

        <header class="projects-background">
            <h1 class="name julius animate-pop-in">Colin Banigan</h1>
            <div class="border-box julius animate-pop-in">
                <center><span class="dev julius">Software Engineer</span></center>
            </div>
        </header>

        <div class="mini-header">
            <h2 class="mini-header-text julius">
                Projects
            </h2>
            <div class="mini-header-bar"></div>
        </div>

        <div class="flex-box projects block-text">
            <div class="flex-item">
                <center><img class="flex-image " src="/_images/research-0.png" alt="" width="320px" height="284px"></center>
                <center><a href="/projects/research"><div class="fancy-button project-button julius">Research</div></a></center>
            </div>
            <div class="flex-item">
                <center><img class="flex-image " src="/_images/battleship.png" alt="" width="320px" height="284px"></center>
                <center><a href="/projects/battleship"><div class="fancy-button project-button julius">Battleship</div></a></center>
            </div>
            <div class="flex-item">
                <center><img class="flex-image" src="/_images/after-effects.jpg" alt="" width="320px" height="284px"></center>
                <center><a href="/projects/after-effects"><div class="fancy-button project-button julius">After Effects</div></a></center>
            </div>
        </div>

