---
layout: base.njk
title: "Colin Banigan | Project: Research"
backgroundImage: projects-background.jpg
currentPage: projects
permalink: /research
---

        <header class="projects-background">
            <h1 class="name julius animate-pop-in">Colin Banigan</h1>
            <div class="border-box julius animate-pop-in">
                <center><span class="dev julius">Software Engineer</span></center>
            </div>
        </header>

        <div class="mini-header">
            <h2 class="mini-header-text julius">
                Research
            </h2>
            <div class="mini-header-bar"></div>
        </div>

        <div class="flex-box projects block-text">
            <div class="flex-item">
                <center><img class="flex-image" src="/_images/research-1.png" alt="" width="320px" height="284px"></center>
            </div>
            <div class="flex-item">
                <center><img class="flex-image" src="/_images/research-2.png" alt="" width="320px" height="284px"></center>
            </div>
            <div class="flex-item">
                <center><img class="flex-image" src="/_images/research-3.png" alt="" width="320px" height="284px"></center>
            </div>
        </div>

        <div class="block-text center-text intro-text">
            Research project underneath Dr. Chu within The StoryLab at Texas A&amp;M. I created an Android Wear application to help elementary students understand science concepts through informal science learning on wearable devices. After creating a base version, we also created two separate versions with gameification elements to test whether storyified interfaces or gameified interfaces of the same application lead to more overall positive engagement.
        </div>

