        <div id="top-footer">
            <h2 class="mini-header-text white julius">Contact</h2>
            <div class="mini-header-bar"></div>
            <div class="email">
                <h3 class="social">Send me a note.</h3>
                <a href="mailto:colinbanigan@gmail.com"><img class="email-icon" src="/_images/envelope.svg" title="Email" width="64px" height="36px"></a>
            </div>
            <div>
                <h3 class="social">Find me on social media.</h3>
            </div>
            <ul class="social-media">
                <li><a href="https://www.facebook.com/Bananigan"><img src="/_images/facebook.svg" title="Facebook" width="30px" height="30px"></a></li>
                <li><a href="https://www.linkedin.com/in/colin-banigan"><img src="/_images/linkedin.svg" title="LinkedIn" width="30px" height="30px"></a></li>
                <li><a href="https://www.instagram.com/colinbanigan/"><img src="/_images/instagram.svg" title="Instagram" width="30px" height="30px"></a></li>
                <li><a href="https://github.com/cbanigan"><img src="/_images/github.svg" title="GitHub" width="30px" height="30px"></a></li>
                <li><a href="https://open.spotify.com/user/colinbanigan"><img src="/_images/spotify.svg" title="Spotify" width="30px" height="30px"></a></li>
            </ul>
        </div>

        <footer>
            <div class="copyright" id="copyright-year"></div>
        </footer>
