---
layout: base.njk
title: "Colin Banigan | About"
backgroundImage: about-background.jpg
currentPage: about
permalink: /about
---

        <header class="about-background">
            <h1 class="name julius animate-pop-in">Colin Banigan</h1>
            <div class="border-box julius animate-pop-in">
                <center><span class="dev julius">Software Engineer</span></center>
            </div>
        </header>

        <div class="mini-header">
            <h2 class="mini-header-text julius">
                About Me
            </h2>
            <div class="mini-header-bar"></div>
        </div>

        <div class="flex-box about block-text">
            <div class="flex-item about-image">
                <img class="flex-image circle" src="/_images/profile-pic@4x.jpg" alt="profile picture" srcset="/_images/profile-pic@1x.jpg, /_images/profile-pic@1.5x.jpg 1.5x, /_images/profile-pic@2x.jpg 2x, /_images/profile-pic@3x.jpg 3x, /_images/profile-pic@4x.jpg 4x" width="250px" height="250px">
            </div>
            <div class="flex-item about-description">
                Hello! I am a full-stack software engineer at Instacart, focusing on improving incremental user conversion within Growth Engineering. In my past role, I was a data engineer at Capital One, focusing on creating ETL pipelines to support the Financial Services Data Lake by transitioning files from Amazon S3 to Snowflake via Apache Spark. Previously, I was a graduate student at Georgia Tech, as well as an undergraduate student at Texas A&amp;M University pursuing degrees in Computer Science. Throughout my life, I have been fascinated by creative arts, whether that be art, music, or even design. Great design strikes a chord with me, and I strive to implement solid design choices throughout my professional work. I strive to create user experiences which are easy-to-use and effective, despite network and device limitations.
            </div>
            <div class="flex-item about-stats">
                <h3>Name:</h3>
                <p>Colin Banigan</p>
                <h3>Age:</h3>
                <p id="age-display"></p>
                <h3>Location:</h3>
                <p>San Francisco, CA</p>
            </div>
        </div>

