---
layout: base.njk
title: Colin Banigan
backgroundImage: index-background.jpg
currentPage: home
---

        <header class="index-background">
            <h1 class="name julius animate-pop-in">Colin Banigan</h1>
            <div class="border-box julius animate-pop-in">
                <center><span class="dev julius">Software Engineer</span></center>
            </div>
        </header>

        <div class="mini-header">
            <h2 class="mini-header-text julius">
                Intro
            </h2>
            <div class="mini-header-bar"></div>
        </div>

        <div class="block-text center-text intro-text">
            I am a software engineer for Instacart in San Francisco, CA and a graduate of Georgia Tech's OMSCS program. My goal is to create effective and efficient programs that anyone can easily use. I am always ambitious to learn new things, work for awesome companies, and connect with interesting people!
        </div>
